API_PORT=3001
JWT_SECRET=please_change_me
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fisrtname?schema=public
UPLOAD_DIR=uploads
UPLOAD_MAX_FILE_SIZE=100mb
FRONTEND_BASE_URL=http://192.168.6.7:3000
NEXT_PUBLIC_API_URL=http://192.168.6.7:3001
CORS_ORIGIN=http://localhost:3000,http://192.168.6.7:3000
NEXT_PUBLIC_AMAP_KEY=
NEXT_PUBLIC_AMAP_SECURITY_JS_CODE=
